.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
  padding-right: 10px;
  background-color: #add8e6;
}
.contact td{
  width: 480px;
  background-color: #e0ffff;
}
.contact textarea{
  border-color: black;
}
.text-box{
  width:100%;
}
.submit-btn {
    text-align: center;
}
.submit-btn input {
  padding: 20px 60px;
  font-size: 2rem;
  color: white;
  background-color: gray;
  border-style: none;
}
.submit-btn:hover {
  opacity: 0.5;
}



.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
